.main__section {
    display: flex;
    justify-content: space-between;
}
.main__contact-wrap {
    width: 50%;
}

.information {
    margin-bottom: 40px;
}

.main__map-frame {

}

.main__form-block {
    display: block;
    margin-bottom: 20px;
}

.main__form-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
}

.main__form-field {
    width: 35%;
    padding: 10px 12px;
    height: 40px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #777;
    background-color: #ebebeb;
    border: none;
}

.main__form-field:focus {
    outline: 1px solid #005197;
    border: none;
    outline-offset: 2px;
}

.main__form-field:hover {
    background: #f2f2f2;  
}

.textarea {
    display: block;
    min-height: 100px;
    min-width: 35%;
    max-width: 35%;
}

.main__button {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

.main__button:hover {
   
}

.main__search {
width: 20px;
height: 20px;
position: absolute;
top: calc(50% - 10px);
left: 15px;
fill: #005197;
}

.main__form-block_search {
    position: relative;
    width: 35%;
    display: flex;
}

.field-search {
    width: 85%;
    padding-left: 40px;
}

.main__button-search {
    padding: 3px 15px;
    cursor: pointer;
    background-color: ;
}